body
{
      user-select: none;
      background-color: #ffffff;
}

nav.navbar {
      height: 6rem !important;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06) !important;
    }
::-webkit-scrollbar {
      width: 0px;
  }
   
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(51, 82, 194, 0.3); 
      border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(29, 19, 221, 0.837); 
  }
#social
{
      list-style-type: none;
}

#social li 
{
      display: inline;
}
#social li a{
      color: #ffffff;
      margin: 10px 15px;
}
#more
{
      display: none;
}
.social-links
{
      list-style: none;
}
.social-links li
{
      display: inline;
}